.animated-line::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 18px; 
    height: 2px;
    width: 90%;
    background-color: black;
    overflow: hidden;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  }
  
  .animated-line:hover::after {
    opacity: 1;
    transform: scaleX(1);
    animation: slide-horizontal 1.5s linear infinite;
  }
  
  @keyframes slide-horizontal {
    0% {
      transform: scaleX(0);
      transform-origin: left;
    }
    50% {
      transform: scaleX(1);
      transform-origin: right;
    }
    100% {
      transform: scaleX(0);
      transform-origin: left;
    }
  }
  